{% extends to_extend %}

{% block content %}
    <div id="target" class="flex flex-col justify-center items-center mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form action="/authorize?{{ query_params }}" method="POST"
              class="flex flex-col justify-start gap-4 font-semibold">
            <div class="hidden overflow-hidden">
                <label for="authorized"></label>
                <input type="text" readonly id="authorized" name="authorized" value="authorized">
            </div>
            <div class="flex flex-col gap-4 justify-start items-center mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <span class="text-2xl uppercase">
                    {{ client_name }}
            </span>
                <p>
                    ...would like "{{ scope }}" access to the following:</p>
                <ul class="list-disc">
                    {% for item in items %}
                        <li class="">{{ item }}</li>
                    {% endfor %}
                </ul>
                <button
                        type="submit"
                        class="px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Authorize
                </button>
            </div>
        </form>
        <p class="mt-10 text-center text-sm text-gray-500">
            Don't belong here?
            <a href="/" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"> Get out.</a>
        </p>
    </div>
{% endblock content %}
